*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.page-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}
/*---header style ---- */
.header-container {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "left-side right-side";
    background-color: #1f2937;
}
.header-description h1 {
    font-size: 3em;
    font-weight: bolder;
    color: #f9faf8;
}
.header-description p, .header-nav {
    font-size: 1.2em;
    color: #e5e7eb;
}
.nav-logo{
    font-size: 24px;
    color: #f9faf8;
}
.left-side {
    grid-area: left-side;
    margin-left: auto;
}
.header-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40rem;
}
.left-side h1 {
    margin-bottom: 1rem;
}
.left-side p {
    margin-bottom: 2rem;
}

.signup-btn {
    background: #3882f6;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #f9faf8;
}
.right-side {
    grid-area: right-side;
    margin-right: auto;
    width: 39rem;
}
.img-box {
    height: 12rem;
    width: 39rem;
    background: grey;
}
/*----nav style------*/
.nav-container {
    width: 100vw;
    height: 3rem;
    grid-area: nav;
}
.nav-container li {
    list-style-type: none;
}
.ul-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
}
.ul-li {
    display: flex;
    justify-content: space-evenly;
    width: 35rem;
}
/*------main style -----*/
.main-body {
    grid-area: main;
    width: 100%;
    height: 400px;
    text-align: center;
}
.top h2 {
    margin: 1rem;
}
.ul-box {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.main-box {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: solid #3882f6;
    list-style: none;
}
.ul-caption {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.box-caption {
    list-style: none;
    text-align: start;
    margin-top: 5px;
    width: 120px;
}
.bottom {
    background-color: #e5e7eb;
    height: 20vh;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div-p {
    width: 30rem;
}
.main-div-p p {
    text-align: start;
    font-size: 1.4em;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}
.main-bottom-container {
    position: relative;
    top: 60px;
    right: 150px;
}

/*------footer-style----*/
.footer-information {
    grid-area: footer;
    width: 100%;
}